@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.bg-mercado-color {
    background-color: #fff153;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    background-color: white;
}

body {
    background-color: #f0e6e4;
}

.text {
    margin-left: 113px;
}

.row {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 100px;
}

.Final {
    display: flex;
    justify-content: center;
    gap: 30px;
}
 /*Seccion carrito*/
 .carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3;
 }

 .carrito .geader-carrito {
    
 }